/* Typography */
.ff-sans {
  font-family: var(--ff-sans);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-700 {
  line-height: 1;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.letter-spacing-1 {
  letter-spacing: 4px;
}

/* Colors */
.bg-primary-400 {
  background-color: hsl(var(--clr-primary-400));
}

.bg-primary-700 {
  background-color: hsl(var(--clr-primary-700));
}

.bg-secondary-400 {
  background-color: hsl(var(--clr-secondary-400));
}

.bg-neutral-100 {
  background-color: hsl(var(--clr-neutral-100));
}

.bg-neutral-400 {
  background-color: hsl(var(--clr-neutral-400));
}

.bg-neutral-800 {
  background-color: hsl(var(--clr-neutral-800));
}

.text-primary-400 {
  color: hsl(var(--clr-primary-400));
}

.text-primary-700 {
  color: hsl(var(--clr-primary-700));
}

.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}

.text-neutral-400 {
  color: hsl(var(--clr-neutral-400));
}

.text-neutral-800 {
  color: hsl(var(--clr-neutral-800));
}

/* Layout */
.container {
  max-width: var(--container, 80rem);
  padding: 0 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.height-100-vh {
  min-height: 100vh;
}

.center {
  display: grid;
  place-items: center;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

/* buttons */
.btn {
  padding: 0.875em 0;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
}

.btn:hover {
  background-color: var(--btn-bg-color-hover);
}

.btn-primary {
  --btn-color: hsl(var(--clr-neutral-100), 0.9);
  --btn-bg-color: hsl(var(--clr-primary-400));
  --btn-bg-color-hover: hsl(var(--clr-primary-700));
}
