*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-neutral-200));
  color: hsl(var(--clr-neutral-900));
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with, these elemnts do NOT inherit properties by default */
input,
button,
textarea,
select {
  font: inherit;
}

/* 
must remove animations for people who turn them off,
helps people who have some form of motion sickness caused by things like parallax
*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
